<%= form_for [:profile, @address] do |f| %>
<p>
  <%= f.label :nickname %>:
  <%= f.text_field :nickname %>
</p>

<p>
  <%= f.label :street %>:
  <%= f.text_field :street %>
</p>

<p>
  <%= f.label :city %>:
  <%= f.text_field :city %>
</p>

<p>
  <%= f.label :state %>:
  <%= f.text_field :state %>
</p>

<p>
  <%= f.label :zip_code %>:
  <%= f.text_field :zip_code %>
</p>

<p>
  <%= f.submit "Submit" %>
</p>
<% end %>
