<h1>Little Shop of Orders</h1>

<section>
Welcome to our Little Shop ficticious e-commerce platform.

  <aside>
  Built with grit and determination by:
  <ul>
    <li><%= link_to 'Brian Zanti', 'https://github.com/brianzanti' %></li>
    <li><%= link_to 'Megan McMahon', 'https://github.com/memcmahon' %></li>
    <li><%= link_to 'Ian Douglas', 'https://github.com/iandouglas' %></li>
  </ul>
  With extensions implemented by:
  <ul>
    <li><%= link_to 'James Cape', 'https://github.com/james-cape' %></li>
  </ul>
  <%= link_to 'Extensions include:', 'https://github.com/turingschool-projects/little_shop_v2/blob/master/solo-project-extensions.md' %>
  <ul>
    <li>Multiple Addresses</li>
    <li>Bulk Discount</li>
  </ul>
  </aside>
</section>
